In [ ]:
# Web Scraping and Document Databases Homework

In [ ]:
# Part 1

In [ ]:
# Step 1 - Scraping

# Complete your initial scraping using Jupyter Notebook, BeautifulSoup, Pandas, and Requests/Splinter.

# Create a Jupyter Notebook file called mission_to_mars.ipynb and use this to complete all of your scraping 
# and analysis tasks. The following outlines what you need to scrape.

In [ ]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
# Assign the text to variables that you can reference later.

# Example:
# news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"
# news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, 
# on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary 
# launch in history from America's West Coast."

In [22]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests

In [ ]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0'
response = requests.get(url)
soup = bs(response.text, 'html.parser')
# print(soup.prettify())

In [24]:
results = soup.find(class_="slide")
# results

In [26]:
news_title = results.find(class_="content_title").text
news_p = results.find(class_="rollover_description_inner").text

In [28]:
news_title
# news_p

'\nIn deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.\n'

In [ ]:
# JPL Mars Space Images - Featured Image

# Visit the url for JPL Featured Space Image here. https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

# Use splinter to navigate the site and find the image url for the current Featured Mars Image and 
# assign the url string to a variable called featured_image_url.
# Make sure to find the image url to the full size .jpg image.
# Make sure to save a complete url string for this image.

# Example:
# featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [122]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist

In [123]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [124]:
html = browser.html
url1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
response1 = requests.get(url1)
soup1 = bs(response1.text, 'html.parser')

In [125]:
articles = soup1.footer

In [126]:
articles

<footer>
<a class="button fancybox" data-description="Scientists produced new global maps of Jupiter using the Wide Field Camera 3 on NASA's Hubble Space Telescope. One color map is shown here, projected onto a globe and as a flat image." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19643_ip.jpg" data-link="/spaceimages/details.php?id=PIA19643" data-title="Spinning Jupiter and Global Map" id="full_image">
					FULL IMAGE
				  </a>
</footer>

In [127]:
link = articles.find('a')
href = link['data-fancybox-href']
print('https://www.jpl.nasa.gov' + href)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19643_ip.jpg

In [128]:
featured_image_url = 'https://www.jpl.nasa.gov' + href

In [ ]:
# Mars Weather (Twitter) - https://twitter.com/marswxreport?lang=en
# class_= js-tweet-text-container
# Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page.
#    - http://space-facts.com/mars/
# Save the tweet text for the weather report as a variable called mars_weather.

# Example:
# mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'

In [ ]:
# URL of page to be scraped
url2 = 'https://twitter.com/marswxreport?lang=en'
response2 = requests.get(url2)
soup2 = bs(response2.text, 'html.parser')
# print(soup.prettify())

In [134]:
articles = soup2.find(class_='js-tweet-text-container')

In [138]:
mars_weather = articles.find('p').text

In [139]:
mars_weather

'Sol 2288 (2019-01-12), high -7C/19F, low -68C/-90F, pressure at 8.23 hPa, daylight 06:45-18:55pic.twitter.com/Or8q1l3tka'

In [ ]:
# Mars Facts - https://space-facts.com/mars/
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet 
# including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.

In [ ]:
# URL of page to be scraped
url3 = 'https://space-facts.com/mars/'
response3 = requests.get(url3)
soup3 = bs(response3.text, 'html.parser')
# print(soup3.prettify())

In [144]:
import pandas as pd
url = 'https://space-facts.com/mars/'

In [145]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [155]:
df = tables[0]
df.columns = ['Metric', 'Mars Measurement']
df

                 Metric               Mars Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [156]:
df = df.iloc[1:]
df.set_index('Metric', inplace=True)
df

                                   Mars Measurement
Metric
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [157]:
df.to_html('mars_facts.html')

In [ ]:
# This part is optional as the website is not working
# Mars Hemispheres - USGS site - https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

# Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
# You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title 
# containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
# Append the dictionary with the image url string and the hemisphere title to a list. 
# This list will contain one dictionary for each hemisphere.

# Example:
# hemisphere_image_urls = [
#     {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#     {"title": "Cerberus Hemisphere", "img_url": "..."},
#     {"title": "Schiaparelli Hemisphere", "img_url": "..."},
#     {"title": "Syrtis Major Hemisphere", "img_url": "..."},
# ]

In [ ]:
# Step 2 - MongoDB and Flask Application

# Notes: mars | safe}

# Use MongoDB with Flask templating to create a new HTML page that displays all of the information 
# that was scraped from the URLs above.

# Start by converting your Jupyter notebook into a Python script called scrape_mars.py 
# with a function called scrape that will execute all of your scraping code from above 
# and return one Python dictionary containing all of the scraped data.

# Next, create a route called /scrape that will import your scrape_mars.py script and call your scrape function.

# Store the return value in Mongo as a Python dictionary.

# Create a root route / that will query your Mongo database and pass the mars data into an HTML template to display the data.
# Create a template HTML file called index.html that will take the mars data dictionary 
# and display all of the data in the appropriate HTML elements. 
# Use the following as a guide for what the final product should look like, but feel free to create your own design.

In [ ]:
# news_title
# news_p
# featured_image_url
# mars_weather
# mars_facts.html